@model IEnumerable<KpaFinAdvisors.Common.Models.Blog>
@{
    ViewData["Title"] = "Create blog";
}
<p>
    <a asp-action="Create">Add blog</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="taskRow">
                <td class="taskName">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td class="taskName">
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td class="taskName">
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td class="taskName">
                    @Html.DisplayFor(modelItem => item.UpdatedBy)
                </td>
                <td class="taskName">
                    @Html.DisplayFor(modelItem => item.Updated)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>