@model IEnumerable<KpaFinAdvisors.Common.Models.Blog>

@{
    ViewData["Title"] = "Blogs";
}

@if (!Model.Any())
{
    <h1>Blogs coming soon...</h1>
}
else
{


    <div class="accordion" id="accordionExample">
        @{
            var firstItem = true;
        }
        @foreach (var item in Model)
        {
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading@(item.Id)">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse@(item.Id)" aria-expanded="true" aria-controls="collapse@(item.Id)">
                        @item.Title
                    </button>
                </h2>
                <div id="collapse@(item.Id)" class="accordion-collapse collapse @(firstItem ? "show" : "")" aria-labelledby="heading@(item.Id)" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        @Html.Raw(item.Description)
                        <div class="mt-3">
                            <p class="blockquote-footer">Written by: @item.CreatedBy at @item.Created</p>
                            @if (!string.IsNullOrEmpty(item.UpdatedBy))
                            {
                                <p class="blockquote-footer">Last updated by: @item.UpdatedBy at @item.Updated</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
            firstItem = false;
        }
    </div>
}