@using TaskStatus = Calendar.Models.TaskStatus
@model IEnumerable<Calendar.Models.TaskWithStatus>
@if (!Model.Any())
{
    <h6 style="color:green">No dues</h6>
}
else
{
    <div style="overflow: auto; height: 150px">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TaskDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TaskStatus)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TaskDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                         @await Html.PartialAsync("../_TaskStatus", new TaskStatus { GeneratedTaskId = item.GeneratedTaskId, OriginalTaskId = item.OriginalTaskId })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
}

