@model IEnumerable<Calendar.Models.TaskWithStatus>

@{
    ViewData["Title"] = "Index";
}

<h4>List of recurring tasks</h4>

<p>
    <a class="btn btn-primary" asp-action="Create">Refresh Tasks</a>
</p>
<div class="form-group col-2">
    <label for="taskNameFilter" class="control-label" data-toggle="tooltip" title="Search in this page">Find</label>
    <input type="text" class="form-control" id="taskNameFilter">
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="taskRow">
                <td class="taskName">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                @* <td>
            <a asp-action="Edit" asp-route-id="@item.GeneratedTaskId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.GeneratedTaskId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.GeneratedTaskId">Delete</a>
            </td> *@
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#taskNameFilter').on('input', function () {
                var filterValue = $(this).val().toLowerCase();

                $('.taskRow').each(function () {
                    var taskNameCell = $(this).find('.taskName');
                    var taskName = taskNameCell.text().toLowerCase();

                    if (taskName.includes(filterValue)) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });
        });
    </script>
}