@model IEnumerable<Calendar.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Users</h1>

<div class="row">
    <label class="control-label">Find</label>
    <div class="col-md-3">
        <input type="text" id="userNameFilter" placeholder="Enter client name" class="form-control">
    </div>
</div>
<hr />

<p>
    <a asp-action="Create">Add new user</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RepresentativeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="userRow">
                <td class="companyName">
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td class="userName">
                    @Html.DisplayFor(modelItem => item.RepresentativeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserType)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#userNameFilter').on('input', function () {
                var filterValue = $(this).val().toLowerCase();

                $('.userRow').each(function () {
                    var userName = $(this).find('.userName').text().toLowerCase();
                    var companyName = $(this).find('.companyName').text().toLowerCase();


                    if (userName.includes(filterValue) || companyName.includes(filterValue)) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });
        });
    </script>
}