@model IEnumerable<Calendar.Models.TaskWithStatus>

@{
    ViewData["Title"] = "Index";
}

<h5>Completed tasks</h5>
<div class="container-fluid">
    <div class="row">
        <div class="form-group col-2">
            <label for="taskNameFilter" class="control-label" data-toggle="tooltip" title="Search in this page">Find</label>
            <input type="text" class="form-control" id="taskNameFilter">
        </div>
        <div class="form-group col">
            @{
                ViewData["Page"] = "TaskStatus";
            }
            @await Html.PartialAsync("../_TaskFilter", model: null, ViewData)
        </div>
    </div>
</div>

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@
@if (ViewData["Filter"]?.ToString() == "true")
{
    <a asp-action="Index" asp-route-returnToList="true">Turn off filter</a>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BSEStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NSEStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MCXStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NCDEXStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NSDLStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CDSLStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="taskRow">
                <td class="taskName">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BSEStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NSEStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MCXStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NCDEXStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NSDLStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CDSLStatus)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TaskStatusId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TaskStatusId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TaskStatusId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#taskNameFilter').on('input', function () {
                var filterValue = $(this).val().toLowerCase();

                $('.taskRow').each(function () {
                    var taskNameCell = $(this).find('.taskName');
                    var taskName = taskNameCell.text().toLowerCase();

                    if (taskName.includes(filterValue)) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });
        });
    </script>
}