@model IEnumerable<Calendar.Models.TaskWithStatus>

@{
    ViewData["Title"] = "Index";
}

<h3>Completed tasks</h3>

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BSEStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NSEStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MCXStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NCDEXStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NSDLStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CDSLStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BSEStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NSEStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MCXStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NCDEXStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NSDLStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CDSLStatus)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TaskStatusId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TaskStatusId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TaskStatusId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
