@model KpaFinAdvisors.Common.Models.DueTaskList
@{
    ViewData["Title"] = "Home Page";
}

<div id="loader" style="top: 50%; left: 50%; position: relative;">
    <!-- Loader HTML/CSS -->
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div id="content" style="display: none">
<div class="container-fluid">
    <div class="row">
        <div class="form-group col-2">
            <label for="taskNameFilter" class="control-label" data-toggle="tooltip" title="Search in this page">Find</label>
            <input type="text" class="form-control" id="taskNameFilter">
        </div>
        <div class="form-group col">
            @{
                ViewData["Page"] = "Home";
            }
            @await Html.PartialAsync("../_TaskFilter", model: null, ViewData)
        </div>
    </div>
</div>


<hr />
@*https://www.youtube.com/watch?v=6j5l--NEmrQ
*@

@if (Model.FilteredTasks.Any())
{
    <a asp-action="Index" asp-route-returnToHome="true">Turn off filter</a>
    <h5>Results: @Model.FilteredTasks.Count()</h5>
    ViewData["PastDue"] = "false";
    ViewData["Height"] = "100vh";
    ViewData["Message"] = "No result found";
    ViewData["FormSubmittedFrom"] = "StatusList";
    @await Html.PartialAsync("../_TaskList", Model.FilteredTasks, ViewData)
}
else
{
    <ul class="nav nav-tabs" id="taskTabs">
        <li class="nav-item">
            <a class="nav-link active" id="dueTodayTab" data-tab="today">
                Due Today
                <span class="badge bg-secondary">@Model.DueTodayCount</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pastDueTab" data-tab="pastDue">
                Past Due
                <span class="badge bg-secondary">@Model.PastDueCount</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="dueWeekTab" data-tab="week">
                Due in a Week
                <span class="badge bg-secondary">@Model.DueThisWeekCount</span>
            </a>
        </li>
    </ul>

    <div id="tabContent">
        <section id="today" class="tab-section">
            @{
                ViewData["PastDue"] = "false";
                ViewData["Height"] = "46vh";
                ViewData["Message"] = "No tasks due today";
                ViewData["FormSubmittedFrom"] = "StatusList";
            }
            @await Html.PartialAsync("../_TaskList", Model.DueToday, ViewData)
        </section>
        <section id="pastDue" class="tab-section" style="display: none;">
            @{
                ViewData["PastDue"] = "true";
                ViewData["Height"] = "46vh";
                ViewData["Message"] = "No past due tasks";
                ViewData["FormSubmittedFrom"] = "StatusList";
            }
            @await Html.PartialAsync("../_TaskList", Model.PastDue, ViewData)
        </section>
        <section id="week" class="tab-section" style="display: none;">
            @{
                ViewData["PastDue"] = "false";
                ViewData["Height"] = "46vh";
                ViewData["Message"] = "No tasks due in a week";
                ViewData["FormSubmittedFrom"] = "StatusList";
            }
            @await Html.PartialAsync("../_TaskList", Model.DueThisWeek, ViewData)
        </section>
    </div>
    @* <h5>Past Due</h5>
    <div>
        @{
            ViewData["PastDue"] = "true";
            ViewData["Height"] = "150px";
            ViewData["Message"] = "No Dues";
            ViewData["FormSubmittedFrom"] = "StatusList";
        }
        @await Html.PartialAsync("../_TaskList", Model.PastDue, ViewData)
    </div>
    <hr />
    <h5>Due Today</h5>
    <div>
        @{
            ViewData["PastDue"] = "false";
            ViewData["Height"] = "150px";
            ViewData["Message"] = "No Dues";
            ViewData["FormSubmittedFrom"] = "StatusList";
        }
        @await Html.PartialAsync("../_TaskList", Model.DueToday, ViewData)
    </div>
    <hr />
    <h5>Due in a Week</h5>
    <div>
        @{
            ViewData["PastDue"] = "false";
            ViewData["Height"] = "46vh";
            ViewData["Message"] = "No Dues";
            ViewData["FormSubmittedFrom"] = "StatusList";
        }
        @await Html.PartialAsync("../_TaskList", Model.DueThisWeek, ViewData)
    </div> *@
}


@* <h5>Due This Month</h5>
<div>
    @await Html.PartialAsync("../_TaskList", Model.DueThisMonth)
</div>
<hr />
<h5>Due in Six Month</h5>
<div>
    @await Html.PartialAsync("../_TaskList", Model.DueNextSixMonth)
</div>
<hr />
<h5>Due in a Year</h5>
<div>
    @await Html.PartialAsync("../_TaskList", Model.DueThisYear)
</div> *@

</div>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#loader').hide();
            $('#content').show();
            $('#taskTabs a').on('click', function (e) {
                e.preventDefault();
                var tab = $(this).data('tab');

                $('#taskTabs a').removeClass('active');
                $(this).addClass('active');

                $('.tab-section').hide();
                $('#' + tab).show();

                // Fetch data from the controller
                // $.ajax({
                //     url: '@Url.Action("Index", "Home")', // Adjust this URL to your controller action
                //     data: { requestedDate: tab },
                //     success: function () {
                //     },
                //     error: function () {
                //         alert("Error loading tasks");
                //     }
                // });
            });

            $('#taskNameFilter').on('input', function () {
                var filterValue = $(this).val().toLowerCase();

                $('.taskRow').each(function () {
                    var taskNameCell = $(this).find('.taskName');
                    var taskName = taskNameCell.text().toLowerCase();

                    if (taskName.includes(filterValue)) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });
        });
    </script>
}